body{
    margin:0;
}
/*Header CSS*/
.nav_bar{
    display: flex;
    justify-content: space-around;
}
.nav_content{
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Nanum Gothic', sans-serif;
}

.nav_content > span {
    line-height: 4;    
}

.nav_content > span >a {
    text-decoration: none;
    color: black;
}

#logo img{
    height:60px;
    width:60px;
}

/******************************Main***************************/
/************************index**************************/
/********************one********************/
.one{
    background-color: #FAFAFA;
    text-align: center;
    padding:30px 0;
}

.cyclone_wiki{
    font-family: 'Sriracha', cursive;
    font-size: 80px;
    color:#B71C1C;
    margin: 0 auto;
    font-weight: 500;
}

.main_img img{
    max-width:100%;
    margin:0;
}

/******************Two*****************/

.cyclone1{
    padding:20px 10px;
    background-color: #E57373;
    color:white;
    font-family: 'Nanum Gothic', sans-serif;
}

.cyclone1 > h1{
    font-size: 60px;
    font-weight: 500;
}

.cyclone1 h1+div > p {
    font-size:20px;
    text-align: left;
}

/************Three*******************/
.facts{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 80px 500px;
    font-family: 'Nanum Gothic', sans-serif;
    color:#C62828;
    grid-gap: 20px 10px;
    padding:40px 0;
}


.facts_1 h1{
    text-align: center;
    font-size: 60px;
    margin:10px;
}

.facts_2{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows: 240px 240px;
    text-align: center;
    grid-gap: 30px 0;
}

.facts_3 figure > img,
.facts_4 figure > img,
.facts_5 figure > img,
.facts_6 figure > img{
    height:190px;
}
/****************************news*****************/
.news_grid{
    padding:10px 10px 30px;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 150px 300px 300px 300px;
    grid-gap: 20px;
    background-color: #F5F5F5;    
}

.news_1 img{
    height:240px;
    float: left;
    padding: 0 20px 0 10px;
    width:30%;
}

.news_1 img+p,
.news_2 img+p,
.news_3 img+p{
    font-size: 20px;
}
.news_1,
.news_2,
.news_3{
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #BDBDBD;
}

.news_1 ~ section > img{
    height:240px;
    float: left;
    padding: 0 10px;
    width:30%;
}

/***************************Gallery**********************/
.gal_grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 150px 400px 400px 400px 400px;
    text-align: center;
    grid-gap: 10px 5px;
    background-color: #F5F5F5;
}

.gal_grid1{
    grid-area:1/1/span 1/span 2;
}

.gal_grid2 > img,
.gal_grid3 > img,
.gal_grid4 > img,
.gal_grid5 > img,
.gal_grid6 > img,
.gal_grid7 > img,
.gal_grid8 > img{
    height:370px;
    width:90%;
    padding:5px;
    border-width: 1px;
    border-style: solid;
    border-color: #BDBDBD;
    border-radius: 6px;
}
/********************************************************/
/*****Footer CSS*****/
.footer{
    background-color: #FFEBEE;
    margin: auto 0 0 0;
    padding:20px 10px;
    color: crimson;
}

.foot_cont{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}